<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Discover</title>
</head>
<body>
    <h2>Hi {{ display_name }}, <small><a href="/sign_out">[sign out]</a></small></h2>
    <a href="/playlists">my playlists</a> |
    <a href="/currently_playing">currently playing</a> |
    <a href="/current_user">me</a> | 
    <a href ="/discover_weekly">Save Discover Weekly</a>
</body>
</html>

